header {
    background: linear-gradient(to left, #d4d4d4, #c9d4eb);
    height: 100px;
    text-align: center;
    border: 1px solid black;
}

nav button {
    width: 150px;
    margin-top: 5px;
    background: linear-gradient(to right, #d4d4d4, #c9d4eb);
}

footer {
    background: linear-gradient(to right, #d4d4d4, #c9d4eb);
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 98%;
    border: 1px solid black;
}


