.fontes {
    font-size: 20px;
    color: blue;
}

.BG {
    background-color: rgb(226, 183, 43);
    width: 100%;
    height: 100px;
}

.botaozola {
    height: 20px;
    width: 120px;
}

.Flex-box {
    display: flex;
    justify-content: space-between;
}