.logo {
    font-family: Arial;
    font-size: 10rem;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(to right, #1E4526, #6eb117);
    padding-bottom: 50px;
}
.menu {
    float: left;
    margin-top: -36px;
}

section {
    margin: 5px 50px 50px 50px ;
}

h1 {
    text-align: center;
}

p {
    margin: 15px;
    text-align: justify;
    font-family: Arial;
}

.segundaTela{
    text-align: center;
    cursor: pointer;
}

.terceiraTela {
    text-align: center;
}

article {
    text-align: justify;
    padding: 50px;
}

.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 200px;
    left: 0;
    border: 1px solid black;
    overflow-x: hidden;
    transition: 0.5s;
    background: linear-gradient(to right, #1F4726, #264F24);
    position: absolute;
}
  
.sidepanel a {
    padding: 10px 1px 1px 1px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    
}
  
.sidepanel a:hover {
    color: #ffffff;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(108, 180, 48);
    color: white;
    width: 250px;
}
  
.openbtn:hover {
    background-color:rgb(72, 192, 36);

}

footer {
    font-family: Arial;
    font-size: 10rem;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(to right, #1E4526, #6eb117);
    padding-top: 50px;
    
}
